[submodule "go-uploader"]
    path = go-uploader
    url = https://github.com/firstpersoncode/go-uploader.git
    branch = master
[submodule "next-uploader"]
    path = next-uploader
    url = https://github.com/firstpersoncode/next-uploader.git
    branch = main