version: '3.8'

services:

  backend:
    build: 
      context: ./go-uploader
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./go-uploader/.env
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:8080/health"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s

  frontend:
    build: 
      context: ./next-uploader
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      backend:
        condition: service_healthy
    env_file:
      - ./next-uploader/.env
    ports:
      - "3000:3000"